.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left,#76D7C4,#FFC300);/*  #FFC300 */

}
.linear-grad2
{
    -fx-background-color: #EAEAE9;
}
.linear-grad3
{
    -fx-background-color:linear-gradient(to bottom left, #EEEBD6,#B5F2EC)
}
.text-title
{
    -fx-background-radius: 20;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #060500;
}

.button1
{
    -fx-background-color: #76D7C4;/*#FFE01F*/
    -fx-text-fill: #7F7F7F   ;
}
.button1:hover
{
    -fx-text-fill: #060500 ;
}

.button2
{
    -fx-background-color:  #F1EFF0;
    -fx-background-radius: 5;
    -fx-text-fill: #C1C1C1 ;
    -fx-border-radius: 5;
}
.button2:hover{
    -fx-background-color:  #76D7C4;
    -fx-text-fill: #7F7F7F;
    -fx-background-radius: 5;
}

.table-view1{
    -fx-background-color: #E1E1DF;
    -fx-background-radius: 15;
    -fx-fill: #FAF6D4 ;
    -fx-border-color: transparent ;
}
.table-view1 .column-header-background{
    -fx-background-color: #EDF1F1   ;
    -fx-background-radius: 5;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box,#BABABA,15,0.0,0.1,3);

}

.table-view1 .column-header, .table-view1.filler{
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;

}
.table-view1 .column-header .label{
    -fx-text-fill: #404040 ;
}
.table-view1 .table-row-cell{
    -fx-table-cell-border-color:  transparent;
    -fx-background-radius: 0;
    -fx-background-color:linear-gradient(to bottom left, #E1E1DF ,#B5F2EC )  ;/*#F5EFC1#EEEBD6*/

}
.table-view1 .table-row-cell:hover {
    -fx-background-color: #EEEBD6;
    -fx-text-fill: black;
}
.table-view1 .table-row-cell:selected {
    -fx-background-color: steelblue;
}
.table-view1 .table-row-cell:selected .text-field{
        -fx-text-fill: black;
}
.table-view1 .column-header {
    -fx-background-color: transparent;
    -fx-border-color:transparent white;
    -fx-border-width:0.1;

}
.table-view1 .table-row-cell:empty {
    -fx-background-color:  #E1E1DF;
}

.table-view1 .table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.box1{

}
.box1:hover{
    -fx-background-color:  #E1E1DF;
}